<div class="author">
    <h1 class="author__heading">Hi, i am Raddy</h1>
    <p class=""author__body>Web deve;oper and content creator</p>
</div>

<img src="/img/hero-image.webp" alt="person looking a windown" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article-ul">
        <li>
            <a href="a">
                <span>Post Title</span>
                <span class="article-list__data">Date</span>
            </a>
        </li>
    </ul>

    <a href="#"  class="pagination">&lt; View Older Post</a>
</section>